@model IEnumerable<ESalesDataEntities.Model.Supplier>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
   
}

@foreach (var item in Model.ToList())
{
   
        <article class="component-item" style="justify-content:center;">
            <div>
                <a href="~/Supplier/Details/@item.ID" class="widget widget-big-with-name" data-tracker="seen:homepage-component" data-id="2231421" data-type="widget" data-eventkey="pim_bu_67">
                    <span class="image-container">
                        <img width="700" height="300" src="@item.ImageUrl" alt="TRENDYOLMİLLA - Beachwear Büyük Fırsatlar">
                    </span>

                    <div class="campaign-summary">
                        <span class="name">
                            @item.CompanyName - @Session["UserInformation"].ToString() Büyük Fırsatlar
                        </span>
                        <span class="hover-text">
                            Alışverişe Başla<i class="icon icon-arrow-banner-white">
                            </i>
                        </span>
                    </div>

                

                </a>
            </div>
        </article>
    
}


